<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        Made with <clr-icon shape="heart" class="is-solid"></clr-icon> at <img class = "image_click" src="assets/images/logo.png"  height="50" width="50" />
    </div>
    <div class='col-md-4 credits'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
