:host{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 30px 0px;
}

.row-box {
    background-color: #EEEEEE;
    border-radius: 10px;
    /* padding: 30px 10px 0px; */
}

.dashboard-option {
    background-color: #007DB8;
    border-radius: 10px;
    padding: 30px 25px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    transition: opacity 0.3s ease-in;
}

.col-padding {
    padding: 10px 15px;
}

.col-hover:hover {
    text-decoration: none;
}

.col-hover:hover > .dashboard-option {
    opacity: 0.7;
}
.card-full{
    /* width: 300px; */
    padding-bottom: 10px;
    text-align: center;
}
.card-header--background{
    background-color: #002538;
    color: white
    
}
.card-img{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.disabled {
    cursor: not-allowed;
    opacity: .65;
  }
  
.disabled:hover { text-decoration: none; }
.disabled:focus { text-decoration: none; }
.disabled:active { text-decoration: none; }