<div class='container'>
    <div class='row row-box'>
        <a *ngFor='let appResource of appResources' class='col-lg-4 col-md-6 col-12 col-hover col-padding' [attr.href]='appResource.active? appResource.url: null'
            target="_blank" [ngClass]="{'disabled': !appResource.active}">
            <!-- <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 col-padding"> -->
                <div class="card card-full">
                    <div class="card-header card-header--background">
                        {{appResource.name}}
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            {{appResource.description}}
                        </div>
                        <div class="card-text">
                            <img src="{{appResource.pic}}" height="100">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline" [ngClass]="{'disabled': !appResource.active}">{{appResource.active? 'Go!!' : 'Coming soon!'}}</button>
                    </div>
                </div>
            <!-- </div> -->
        </a>
    </div>
</div>